.karnaugh-map {
  padding: 40px;
  max-width: 300px;
  margin: 0 auto;

  .table-wrapper {
    position: relative;
    border-radius: 5px;
    border: 1px solid #ccc;
    overflow: hidden;
    margin: 0 auto;

    table {
      width: 100%;
      position: relative
    }

    td {
      text-align: center;
      font-family: "Source Code Pro";
      font-size: 20px;
      padding: 0;
      cursor: pointer;
      user-select: none;

      div {
        padding: 16px 0;
        background: rgba(0, 0, 0, 0);

        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      right: 100%;
      bottom: 0;
      pointer-events: none;
    }
  }
}
