.karnaugh-map {
  padding: 40px;
  max-width: 300px;
  margin: 0 auto;

  .table-wrapper {
    position: relative;
    border-radius: 5px;
    border: 1px solid #ccc;
    overflow: hidden;

    table {
      width: 100%;
      position: relative
    }

    td {
      text-align: center;
      padding: 20px 0;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      right: 100%;
      bottom: 0;
      pointer-events: none;

      rect {
        // fill: none;
        // stroke-width: 3px;
        // transform: scale(0.95);
      //   transform-origin: 50% 50%;
      }
    }
  }
}
