.truth-table-row, .truth-table-bit {
  position: relative;
  transform: translate3d(0, 0, 0);

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: 3px;
    bottom: 3px;
    left: 0;
    right: 0;
    background: rgba(130, 203, 255, 0.13);
    border: 3px solid rgba(5, 120, 202, 0.18);
    opacity: 0.3;
    border-radius: 5px;
    z-index: -1;
    transform: scale(0.9);
    opacity: 0;
    transition: all 0.1s ease;
  }

  &.highlighted:before {
    transform: scale(1);
    opacity: 1;
  }
}
