.truth-table-data {
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 20px;

  .truth-table-row {
    flex: 1 1 0;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .truth-table-bit {
    flex: 1;
    text-align: center;
    font-weight: 400;
  }

  &.truth-table-outputs .truth-table-bit {
    cursor: pointer;
    user-select: none;
  }

  header .truth-table-bit {
    font-weight: 500;
  }
}
