body {
  font-family: "Roboto";
}

main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: stretch;

  .truth-table-configurator {
    flex-basis: 450px;
    max-width: 450px;
    min-width: 300px;
    height: 100%;
    padding-right: 25px;
    border-right: 1px solid #eee;
  }
}

code, pre {
  font-family: "Source Code Pro";
}

p code {
  background: #eee;
  padding: 0 3px;
  border-radius: 2px;
}
